<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="catalinc.daydream.stars">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true">

        <activity android:name="catalinc.daydream.stars.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="catalinc.daydream.stars.StarsDreamService"
            android:exported="true"
            android:label="@string/appName"
            android:permission="android.permission.BIND_DREAM_SERVICE">

            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream" />
        </service>
    </application>

</manifest>
